{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HALLELUJAH WORSHIP SANCTUARY-MOMBASA{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'js/tailwind_config.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/logos/logo.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar_style.css' %}">
    <script src="{% static 'js/sidebar_script.js' %}"></script>
  

    {% block extra_css %}{% endblock %}
    
    {% block extra_head %}{% endblock %}

</head>

<body class="flex flex-col min-h-screen font-sans m-0 p-0" data-theme="light">
    
    {% block topbar_main %}
        {% include "mainapp/partials/topbar_main.html" %}
    {% endblock topbar_main %}

    {% block topbar_home %}
        {% include "mainapp/partials/topbar_home.html" %}
    {% endblock topbar_home %}
    
    {% block navmenu %}
        {% include "mainapp/partials/main_menu.html" %}
    {% endblock navmenu %}

    {% block home_menu %}
        {% include "mainapp/partials/home_menu.html" %}
    {% endblock home_menu %}

    {% block leaders_hero %}
       {% include "mainapp/partials/leaders_hero.html" %}
    {% endblock%}

    {% block ministries_hero %}
       {% include "mainapp/partials/ministries_hero.html" %}
    {% endblock%}

    {% block sidebar %}
        {% include "mainapp/partials/sidebar.html" %}
    {% endblock sidebar %}

    {% block overlay %}
        <div id="sidebar-overlay" class="overlay"></div>
    {% endblock overlay %}

    <!-- Overlay for when sidebar is open -->
    <div id="sidebar-overlay" class="overlay"></div>
 
    <main class="flex-1 max-w-7xl mx-auto"> 

        {% block content %}{% endblock %}

    </main>
    
    {% block footer %}
        {% include "mainapp/partials/footer_main.html" %}
    {% endblock footer %}
    
    <script src="{% static 'js/base_script.js' %}"></script>
    {% block extra_js %}{% endblock %} 

    <button 
        id="scroll-to-bottom-btn" 
        title="Scroll to Bottom"
        class="fixed bottom-4 right-4 z-50 bg-sky-600 text-white p-4 rounded-full shadow-2xl 
        hover:bg-sky-700 transition-all duration-300 hidden items-center justify-center
        animate-pulse hover:animate-none hover:scale-110"
        style="box-shadow: 0 0 20px rgba(2, 132, 199, 0.6), 0 0 40px rgba(2, 132, 199, 0.4);">
        <i class="fa-solid fa-arrow-down text-xl"></i>
    </button>

</body>
</html>