{% extends "mainapp/base.html" %}
{% load static %}

{% block title %}Leadership - HALLELUJAH WORSHIP CENTER-MOMBASA{% endblock %}

{% block extra_head %}
    <!--<link rel="stylesheet" href="{% static 'css/contact_style.css' %}">-->
{% endblock %}

{% block content %}

{% block topbar_home %}
{% endblock %}

{% block ministries_hero %}
{% endblock%}

{% block home_menu %}
{% endblock %}


<!--Leadership Team-->
 <section class="py-16 bg-sky-900 text-black"> 
        <div class="container mx-auto px-4">
            <div class="text-center mb-12">
               <h2 class="text-3xl font-bold mb-4 text-berean-blue">Our Core Leadership</h2> 
                <p class="text-muted-foreground max-w-2xl mx-auto">
                     Meet the dedicated individuals who guide our church
                </p>
            </div>
            
             <!--Cluster 1-->
            <section>
            <div class="text-left mb-6">
                   <h2 class="text-3xl font-bold mb-4 text-berean-blue">First Family</h2> 
            </div>
            <div class="grid sm:grid-cols-3 gap-8">
                <div class="text-center bg-gray-100 p-4 rounded-lg shadow-md">
                    <div class="relative w-full h-auto mb-4 overflow-hidden"> 
                        <img src="{% static 'images/leadership/bishop-ibrahim2.jpg' %}" alt="Bshp Ibrahim A.O" class="object-cover w-30 h-auto mx-auto" /> 
                    </div>
                    <h3 class="text-xl font-bold text-berean-blue">BISHOP IBRAHIM ANG'ANA OYOTI</h3>
                    <p class="text-gray-900 mb-2">PRESIDING BISHOP</p>
                    <p class="text-muted-foreground text-sm mb-4">Founder of Berean Bible Church ministries.</p>
                    <a href="{% url 'bshp_A.O' %}" class="inline-block bg-blue-600 text-white px-6 py-2 rounded hover:bg-sky-700 transition duration-300">Learn More</a>
                </div>
                <div class="text-center bg-gray-100 border p-4 rounded-lg shadow-md">
                    <div class="relative w-full h-auto mb-4 overflow-hidden">
                        <img src="{% static 'images/leadership/reverend-lorine.jpg' %}" alt="Rev Lorine Pam" class="object-cover w-30 h-auto mx-auto" />
                    </div>
                    <h3 class="text-xl font-bold text-berean-blue">REVEREND LORINE PAMELA ANG'ANA</h3>
                    <p class="text-gray-900 mb-2">SENIOR PASTOR//WOMEN LEADER</p>
                    <p class="text-muted-foreground text-sm mb-4">Wife to Bishop, dynamic leader of Women Of Value.</p>
                    <a href="{% url 'rev_lorine' %}" class="inline-block bg-blue-600 text-white px-6 py-2 rounded hover:bg-sky-700 transition duration-300">Learn More</a>
                </div>
            </div>
            </section>
            
            <!--Cluster 2-->
            <section>
            <div class="text-left mb-6">
                <h2 class="text-2xl font-bold mb-8 text-berean-blue">Office Of The Reverend</h2> 
            </div>
            <div class="grid sm:grid-cols-3 gap-8 mt-8">
                <div class="text-center border p-4 rounded-lg shadow-md">
                    <div class="relative w-full h-auto mb-4 overflow-hidden">
                        <img src="{% static 'images/leadership/reverend-constant.jpg' %}" alt="Rev Conny OJ" class="object-cover w-30 h-auto mx-auto" />
                    </div>
                    <h3 class="text-xl font-bold text-berean-blue">REVEREND CONSTANT OJWANG ODANGA</h3>
                    <p class="text-gray-900 mb-2">SENIOR PASTOR//DEP PASTOR</p>
                    <p class="text-muted-foreground text-sm mb-4">HQ Senior pastor, Teens Pastor, Departmental Leader</p>
                    <a href="{% url 'rev_odanga' %}"  class="inline-block bg-blue-600 text-white px-6 py-2 rounded hover:bg-sky-700 transition duration-300">Learn More</a>
                </div>
                <div class="text-center border p-4 rounded-lg shadow-md">
                    <div class="relative w-full h-auto mb-4 overflow-hidden">
                        <img src="{% static 'images/leadership/reverend-moses.jpg' %}" alt="Rev Moses O" class="object-cover w-30 h-auto mx-auto" />
                    </div>
                    <h3 class="text-xl font-bold text-berean-blue">REVEREND MOSES OYOTI</h3>
                    <p class="text-gray-900 mb-2">DEPARTMENTAL OVERSEER</p>
                    <p class="text-muted-foreground text-sm mb-4">Oversees all Church Activities.</p>
                    <a href="{% url 'rev_moses' %}" class="inline-block bg-blue-600 text-white px-6 py-2 rounded hover:bg-sky-700 transition duration-300">Learn More</a>
                </div>
            </div>
            </section>

            <!--Cluster 3-->
            <section>
            <div class="text-left mb-6">
                <h2 class="text-2xl font-bold mb-8 text-berean-blue">Office Of The Pastor</h2> 
            </div>
            <div class="grid sm:grid-cols-3 gap-8 mt-8">
               <div class="text-center border p-4 rounded-lg shadow-md">
                    <div class="relative w-full h-auto mb-4 overflow-hidden">
                        <img src="{% static 'images/leadership/pastor-salvestin.jpg' %}" alt="Pst S Kinzi" class="object-cover w-30 h-auto mx-auto" />
                    </div>
                    <h3 class="text-xl font-bold text-berean-blue">PASTOR SALVESTIN KINZI</h3>
                    <p class="text-gray-900 mb-2">CHURCH COORDINATOR//YOUTH PASTOR//WORSHIP LEADER</p>
                    <p class="text-muted-foreground text-sm mb-4">Pst Kinzi organizes our community <br>
                        service initiatives and mission trips and <br>
                        also oversee the Young adults of the <br>
                        youth department and also leads the worship team.</p>
                    <a href="{% url 'pst_kinzi' %}" class="inline-block bg-blue-600 text-white px-6 py-2 rounded hover:bg-sky-700 transition duration-300">Learn More</a>
                </div>
                <div class="text-center border p-4 rounded-lg shadow-md">
                    <div class="relative w-full h-auto mb-4 overflow-hidden">
                        <img src="{% static 'images/leadership/pastor-agness.jpg' %}" alt="Pst Kazosi A" class="object-cover w-30 h-auto mx-auto" />
                    </div>
                    <h3 class="text-xl font-bold text-berean-blue">PASTOR AGNESS KAZOSI</h3>
                    <p class="text-gray-900 mb-2">DEPARTMENTAL PASTOR//ASSISTANT COORDINATOR</p>
                    <p class="text-muted-foreground text-sm mb-4">Pst Kazosi helps in planning <br>
                        church initiatives and programs and <br>
                        also helps in pastoring one of the home based church.</p>
                    <a href="{% url 'pst_kazosi' %}" class="inline-block bg-blue-600 text-white px-6 py-2 rounded hover:bg-sky-700 transition duration-300">Learn More</a>
                </div>
                <div class="text-center border p-4 rounded-lg shadow-md">
                    <div class="relative w-full h-auto mb-4 overflow-hidden">
                        <img src="{% static 'images/leadership/pastor-alfred.jpg' %}" alt="Pst Alfred M" class="object-cover w-30 h-auto mx-auto" />
                    </div>
                    <h3 class="text-xl font-bold text-berean-blue">PASTOR ALFRED MATAI</h3>
                    <p class="text-gray-900 mb-2">CHURCH TREASURER//INSTRUMENT TECHNICIAN</p>
                    <p class="text-muted-foreground text-sm mb-4">Pst Alfred helps in counting <br>
                        and analysizing the church's offerings <br>
                        and monetary assets while also plays a huge <br>
                        part in ensuring wellbeing of church instruments.</p>
                    <a href="{% url 'pst_alfred' %}" class="inline-block bg-blue-600 text-white px-6 py-2 rounded hover:bg-sky-700 transition duration-300">Learn More</a>
                </div>
            </div>
            </section>

            <!--Cluster 4-->
            <section>
            <div class="text-left mb-6">
                <h2 class="text-2xl font-bold mb-8 text-berean-blue">Office Of The Deacon</h2> 
            </div>
            <div class="grid sm:grid-cols-3 gap-8 mt-8">
               <div class="text-center border p-4 rounded-lg shadow-md">
                    <div class="relative w-full h-auto mb-4 overflow-hidden">
                        <img src="{% static 'images/leadership/no-portrait.jpg' %}" alt="Deacon Hellen" class="object-cover w-30 h-auto mx-auto" />
                    </div>
                    <h3 class="text-xl font-bold text-berean-blue">DEACONESS HELLEN MWATI MWIKALI</h3>
                    <p class="text-gray-900 mb-2">ASSISTANT TREASURER</p>
                    <p class="text-muted-foreground text-sm mb-4">Deac Hellen Helps or<br>
                        steps in when the main treasurer <br>
                        is absent..She's crucial In making<br>
                        Church's Financial projections.</p>
                    <a href="#" class="inline-block bg-blue-600 text-white px-6 py-2 rounded hover:bg-sky-700 transition duration-300">Learn More</a>
                </div>
                <div class="text-center border p-4 rounded-lg shadow-md">
                    <div class="relative w-full h-auto mb-4 overflow-hidden">
                        <img src="{% static 'images/leadership/no-portrait.jpg' %}" alt="Pst Kazosi A" class="object-cover w-30 h-auto mx-auto" />
                    </div>
                    <h3 class="text-xl font-bold text-berean-blue">DEACONESS PERIS NGURE</h3>
                    <p class="text-gray-900 mb-2">WOMEN ADVISORY LEADER</p>
                    <p class="text-muted-foreground text-sm mb-4">Deac Peris is Crucial <br>
                        in the moulding of women and ladies <br>
                        in the church.</p>
                    <a href="#" class="inline-block bg-blue-600 text-white px-6 py-2 rounded hover:bg-sky-700 transition duration-300">Learn More</a>
                </div>
                <div class="text-center border p-4 rounded-lg shadow-md">
                    <div class="relative w-full h-auto mb-4 overflow-hidden">
                        <img src="{% static 'images/leadership/no-portrait2.jpg' %}" alt="Deacon" class="object-cover w-30 h-auto mx-auto" />
                    </div>
                    <h3 class="text-xl font-bold text-berean-blue">DEACON</h3>
                    <p class="text-gray-900 mb-2">WELFARE LEADER</p>
                    <p class="text-muted-foreground text-sm mb-4">Ensures the wellbeing<br>
                        of................</p>
                    <a href="#" class="inline-block bg-blue-600 text-white px-6 py-2 rounded hover:bg-sky-700 transition duration-300">Learn More</a>
                </div>
            </div>
            </section>
        </div>
    </section>

    <!--Other Leaders-->
<section class="py-16 bg-berean-skyblue">
    <div class="container mx-auto px-4">
        <div class="text-center mb-12">
            <h2 class="text-3xl font-bold mb-4 text-berean-blue">Ministry / Departmental Leaders</h2>
            <p class="text-muted-foreground max-w-2xl mx-auto">
               The individuals dedicated to lead different ministries or departments in the church.
            </p>
        </div>
        <div class="grid md:grid-cols-1 gap-8 max-w-5xl mx-auto">
            <div class="bg-white p-6 rounded-lg shadow-md text-center">
                <a href="{% url 'other_leaders' %}" class="inline-block bg-blue-600 text-white px-6 py-2 rounded hover:bg-sky-700 transition duration-300">Know Them</a>
            </div>
        </div>
    </div>
</section>


    {% endblock %}